.homepage {
  &BuildingsContainer {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    @include breakpoint(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint(mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &BuildingContainer {
    color: white;
    overflow: hidden;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
